rvc/assets/weights/*.pth filter=lfs diff=lfs merge=lfs -text
rvc/assets/weights/*.index filter=lfs diff=lfs merge=lfs -text
rvc/assets/hubert/*.pth filter=lfs diff=lfs merge=lfs -text
rvc/assets/rmvpe/*.pth filter=lfs diff=lfs merge=lfs -text
public/content/* filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
